{% extends 'base.html' %}
{% block contenido %}

<h2>Tickets para {{ evento.nombre }}</h2>
<form method="post" class="mb-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Agregar ticket</button>
</form>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ubicación</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        {% for t in tickets %}
            <tr>
                <td>{{ t.ubicacion.nombre }}</td>
                <td>{{ t.precio }}</td>
                <td>{{ t.stock }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% if form.errors %}
        <div class="alert alert-danger">
            <strong>El formulario tiene errores:</strong>
            {{ form.errors }}
        </div>
{% endif %}

{% endblock %}